<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Products</title>
    <style>
        .required {
            color: red;
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: fit-content;
        }
        input, textarea {
            width: 100%;
        }
        div, label {
            display: flex;
        }
        div {
            gap: 8px;
        }
        label {
            gap: 4px;
        }
    </style>
</head>
<body>
    <!-- 
    {
        "productType": "Sweaters",
        "productCode": "WWXS001", 
        "name": "Washed Cable Knit Sweater",
        "description": "Relaxed-fit sweater crafted from soft cotton yarn. Designed with a round neck, long sleeves, and a wash effect. Finished with ribbed trims. The garment has a unique appearance due to its special washing process.",
        "size": ["S", "M", "L", "XL"],
        "color": ["Anthracite Grey", "SkyBlue"],
        "quantity": "100",
        "isLimited": "false",
        "ratings": "4.0"
    },
    -->

    <h2>Enter Product Details</h2>
    <form action="/api/products" method="post">
        <div>
            <label for="isNewArrival">IsNewArrival? <span class="required">*</span> </label> <input type="text" name="isNewArrival" id="isNewArrival" placeholder="yes or no" required>
        </div>
        <div>
            <label for="productType">Type <span class="required">*</span> </label> <input type="text" name="productType" id="productType" placeholder="e.g., Sweaters, Hoodies..." required>
        </div>
        <div>
            <label for="productCode">Code <span class="required">*</span> </label> <input type="text" name="productCode" id="productCode" placeholder="e.g., WWXS001, WWXH001..." required>
        </div>
        <div>
            <label for="name">Name <span class="required">*</span> </label> <input type="text" name="name" id="name" placeholder="e.g., Washed Cable Knit Sweater..." required>
        </div>
        <div>
            <label for="description">Description <span class="required">*</span> </label> <textarea name="description" id="description" cols="30" rows="10" placeholder="Enter product description..." required></textarea>
        </div>
        <div>
            <label for="size">Size (To add many use comma) <span class="required">*</span> </label> <input type="text" name="size" id="size" placeholder="e.g, XS, S, M, L, XL..." required>
        </div>
        <div>
            <label for="color">Color (To add many use comma)<span class="required">*</span></label> <input type="text" name="color" id="color" placeholder="e.g., red, blue..." required>
        </div>
        <div>
            <label for="quantity">Quantity <span class="required">*</span></label> <input type="Number" name="quantity" id="quantity" min="0" placeholder="e.g., 1-100..." required>
        </div>
        <div>
            <label for="price">Price <span class="required">*</span></label> <input type="Number" name="price" id="price" min="0" placeholder="e.g., 1000-5000..." required>
        </div>
        <input type="submit">
    </form>
</body>
</html>