* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
}

#intro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#homepage-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 20px 0;
}

#homepage-container section, nav {
    width: 95%;
    margin: 0 auto;
}

table > tbody > tr > td:nth-child(2) {
    color: rgba(0, 0, 0, 0.755);
}

nav {
    position: sticky;
    top: 0;
    padding: 10px 0;
    z-index: 1000;
    background-color: white;
    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        padding: 10px 25px;
        border: 1px solid #03071217;
        border-radius: 30px;
        li:nth-child(1) {
            display: flex;
            align-items: center;
            gap: 10px;
            select {
                display: none;
                padding: 5px 10px;
                font-size: medium;
                border: 1px solid #03071217;
                border-radius: 15px;
                color: black;
            }
        }
    }
}

@media only screen and (max-width : 1080px) {
    #homepage-container section, nav {
        width: calc(100% - 30px);
        margin: 0 auto;
    }
}

@media only screen and (max-width : 867px) {
    nav ul {
        padding: 15px 20px;
    }
    nav ul li:nth-child(1) a h2 {
        font-size: larger;
    }
    nav ul li:nth-child(2) a {
        font-size: medium;
    }
    #projects-list h1 {
        font-size: larger;
    }
    #projects-list table caption {
        display: none;
    }
    table thead tr th:nth-child(1), th:nth-child(3) {
        display: none;
    }
    table thead tr th {
        font-size: medium;
    }
    table tbody tr td:nth-child(1), td:nth-child(3) {
        display: none;
    }
    table tbody tr td {
        font-size: medium;
    }
}