html, body {
    margin: 15px;
}
#projects-list h1{
    margin-top: 2rem;
    margin-bottom: 1rem;
}
tbody > tr > td:nth-child(2) {
    padding: 12px 8px;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.755);
}