

:root {
    /*--page-width: 1100px;*/
    --light-gray: #f2f2f2;
    --text-gray: #222;
    --muted: #6b6b6b;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-gray);
    background: #ffffff;
    margin: 0;
    padding: 0;
}


main {
    width: 100%;
    max-width: 100%;
    padding: var(--p6);
    overflow: hidden;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td, th {
  border: 1px solid #ddd;
  padding: 8px;
}
tr:hover {background-color: #e7e7e7;}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000;
  color: white;
}

.page-title {
    font-size: 34px;
    margin: 28px 0;
    font-weight: 700;
}

@media (width <= 786px) {

    main {
        margin-top: -20px;
    }

    .page-container {
        width: 100%;
    }

    .page-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }
}