:root {
  /*--page-width: 1100px;*/
  --light-gray: #f2f2f2;
  --text-gray: #222;
  --muted: #6b6b6b;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-gray);
  background: #ffffff;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  max-width: 100%;
  padding: var(--p6);
  overflow: hidden;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}
.table-container table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: max-content;
  min-width: 100%;
}
.table-container td,
.table-container th {
  white-space: nowrap;
  border: 1px solid #ddd;
  padding: 8px;
}
.table-container tr:hover {
  background-color: #e7e7e7;
}
.table-container th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000;
  color: white;
}
.table-container img {
  max-width: 50px;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 3px;
  object-fit: cover;
  object-position: top;
}
.loading-row {
  text-align: center;
  height: 20vh;
}

.cart-explore-products-buttons {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  width: 100%;
  justify-content: center;
}
.cart-explore-products-buttons button {
  font-size: 16px;
  font-weight: 600;
}
.cart-explore-products-buttons button:hover {
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
}
.page-title {
  font-size: 34px;
  margin: 28px 0;
  font-weight: 700;
}

@media (width <= 786px) {
  main {
    margin-top: -20px;
  }

  .page-container {
    width: 100%;
  }

  .page-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
}
