* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

:root {
    /* paddings */
    --p1: 4px;
    --p2: 8px;
    --p3: 12px;
    --p4: 16px;
    --p5: 20px;
    --p6: 24px;
    --p7: 32px;
    --p8: 40px;
    --p9: 48px;
    --p10: 64px;

    /* border */
    --b-clr: #e7e7e7;

    --primary-color: #000000;
    --secondary-color: #ffffff;

    /* card */
    --card-bg: #e7e7e7;

    /* button */
    --pri-btn-bg: #000000;
    --pri-btn-color: #ffffff;
    --sec-btn-bg: #e7e7e7;
    --sec-btn-color: #000000;
    --sec-btn-hover-bg: #000000;

    /* footer */
    --footer-bg: #e7e7e7;
}

/* For proper content load */
html.hide-visibility{
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
html.show-visibility{
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

/* top banner */
.top-banner {
    background-color: var(--primary-color);
    text-align: center;
    color: var(--secondary-color);
    padding: var(--p2) 0;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--p2);
}

/* hidden-menu */
.menu {
    position: absolute;
    top: 70px;
    left: 0;
    height: calc(100vh - 70px);
    width: 0;
    background-color: rgba(0, 0, 0, 0.452);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 99;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
}

.control-visibility {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    width: 100%;
}

.menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--p10) var(--p6);
    gap: var(--p3);
    width: 100%;
    background-color: white;
    height: 100%;
}
.menu ul li {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu ul li:first-child {
    display: flex;
    flex-direction: column;
    gap: var(--p3);
}
.menu ul li:first-child a:hover {
    text-decoration: underline;
}

.menu ul li:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--p3);
}
.menu ul li:last-child a {
    display: flex;
    align-items: center;
    gap: var(--p3);
}
.menu ul li:last-child a:hover {
    text-decoration: underline;
}
.menu ul li:last-child a svg {
    width: 20px;
    height: 20px;
}


.menu ul li a {
    display: flex;
    align-items: center;
    gap: var(--p2);
}

.top-banner .close {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

/* Navbar */
nav {
    position: sticky;
    top: 0;
    background-color: var(--secondary-color);
    z-index: 100;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-inline: var(--p6);
    border-bottom: .5px solid var(--b-clr);
}

nav ul > li {
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    a {
        font-weight: bold;
        font-size: 1.8rem;
    }
}

nav ul > li:nth-child(3) {
    display: flex;
    align-items: center;
    gap: var(--p2);
    div {
        cursor: pointer;
    }
}

.shop-menu {
    user-select: none;
    -webkit-user-select : none;
}
#user-profile{
    position: relative;
}
.loggedInUserInfo {
    position: absolute;
    background: #e7e7e7;
    width: fit-content;
    right: 22px;
    top: 60px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: var(--p2);
    padding: var(--p4);
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid var(--b-clr);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: auto!important;
}
.toggle_user_info {
    display: flex !important;
}
.loggedInUserInfo div {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: auto!important;
}
.loggedInUserInfo strong, .loggedInUserInfo p {
    font-size: 13px;
}
.loggedInUserInfo strong {
    text-transform: capitalize;
    white-space: nowrap;
}
.loggedInUserInfo p {
    white-space: nowrap;
    text-overflow: ellipsis;

}
.loggedInUserInfo button {
    width: 100%;
    padding: var(--p2) 0;
    font-size: 0.9rem;
    background-color: var(--sec-btn-hover-bg);
    color: var(--secondary-color);
}
.loggedInUserInfo button:hover {
    opacity: 0.8;
}
.admin-dashboard-button {
    display: none;
    margin-top: var(--p2);
    width: 100%;
    padding: var(--p2) 0;
    font-size: 0.9rem;
    background-color: var(--sec-btn-hover-bg);
    color: var(--secondary-color);
    border-radius: 50px;
    text-align: center;
}
.admin-dashboard-button:hover {
    opacity: 0.8;
}
/* main container */
.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    margin-block: 40px;
    padding-inline: var(--p6);
}


/* buttons */
button {
    border: none;
    border-radius: 5px;
    padding: var(--p4) var(--p6);
    font-size: .8rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50px;
}

.btn {
    background-color: var(--sec-btn-bg);
    color: var(--sec-btn-color);
}
.btn:hover {
    background-color: var(--sec-btn-hover-bg);
    color: var(--secondary-color);
}

.btn.pri-btn {
    background-color: var(--pri-btn-bg);
    color: var(--pri-btn-color);
}

/* footer */
.footer {
    background-color: var(--footer-bg);
    padding: var(--p8) var(--p6);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.footer-section h4 {
    margin-bottom: var(--p4);
    font-size: 1.2rem;
    font-weight: 700;
}
.footer-section ul li {
    margin-bottom: var(--p3);
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.footer-section ul li:hover {
    text-decoration: underline;
}

.footer-section p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
}

.footer-section.footer-bottom {
    grid-column: span 3;
    text-align: center;
    margin-top: var(--p6);
    font-size: 0.9rem;
    color: #555555;
}


/* conditional classes */
.hide {
    display: none !important;
}
.visible {
    display: block !important;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}

/* results */
.display-results {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding-inline: var(--p6);
    margin-bottom: 40px;
    margin-top: 20px;
}

.display-results .item {
    display: flex;
    flex-direction: column;
    gap: var(--p4);
    background-color: var(--card-bg);
    padding: var(--p4);
    border-radius: 10px;
    width: 400px;
    overflow: hidden;
}

.display-results .item img {
    width: 100%;
    border-radius: 10px;
    height: auto;
    background-color: var(--card-bg);
    object-fit: contain;
    border-radius: 10px;
}

.temp-display {
    margin-top: -20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 40dvh;
    background-color: #e7e7e7;
    padding-inline: var(--p3);
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
}

.shop-menu-mobile-version {
    position: relative;
    display: none;
    overflow: hidden;
}
.shop-menu-mobile-version > .shop-menu {
    display: block;
    position: fixed;
    font-size: 1.1rem;
    border-radius: 50px;
    padding: 11px 16px;
    font-weight: 600;
    cursor: pointer;
    z-index: 1000;
    right: 24px;
    bottom: 11px;
    -webkit-user-select: none;
    user-select: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


.webkit-box {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Number of lines to show */
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* PRODUCT MODAL */
.product-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}
.product-modal-overlay.active {
    visibility: visible;
    opacity: 1;
}
.product-modal-overlay .product-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-color);
    width: 80%;
    max-width: 900px;
    border-radius: 10px;
    display: flex;
    gap: var(--p6);
    padding: var(--p6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-modal-overlay .product-modal .modal-left {
    flex: 1;
}
.product-modal-overlay .product-modal .modal-left img {
    width: 100%;
    border-radius: 10px;
    object-fit: contain;
    background-color: var(--card-bg);
}

.product-modal-overlay .product-modal .modal-right {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: var(--p4);
}

.mpi {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mpd {
    display: flex;
    gap: var(--p2);
    flex-direction: column;
}
.po {
    display: flex;
    flex-direction: column;
    gap: var(--p4);
}
.mqc {
    display: flex;
    flex-direction: column;
    gap: var(--p2);
}
.atcb {
    width: 100%;
    padding: var(--p4) 0;
    font-size: 1rem;
    background-color: var(--pri-btn-bg);
    color: var(--pri-btn-color);
    border-radius: 50px;
    cursor: pointer;
}
.atcb:hover {
    opacity: 0.8;
}

@media (width <= 937px) {
    .product-modal-overlay .product-modal {
        flex-direction: column;
        width: 90%;
    }
    .product-modal-overlay .product-modal .modal-left img {
        height: 400px;
    }
}

/* responsive */
@media (width <= 786px) {
    .menu ul {
        padding: var(--p9) var(--p6) var(--p5) var(--p6);
    }
    /* container */
    .main-container{
        margin-block: 20px;
    }
    /* boxes */
    .boxes {
        flex-direction: column;
    }
    .boxes .box1, .boxes .box2 {
        width: 100%;
    }
    
    /* footer */
    .footer {
        padding: var(--p6) var(--p6);
    }
    .footer-section ul li {
        margin-bottom: var(--p3);
        font-size: .9rem;
    }
    .footer-section {
        grid-column: span 3;
    }
    
    
    /* conditional classes */
    .hide-on-mobile-screen{
        display: none;
    }
    .shop-menu-mobile-version {
        display: block;
    }
    .product-modal-overlay .product-modal .modal-left img {
        height: 300px;
    }
}