
.search-overlay{
    padding-inline: var(--p6);
    margin-top: 40px;
}
.inp {
    outline: none;
    border-radius: 25px;
    border: #e7e7e7;
    background-color: #e7e7e7;
    width: 90vw;
}

.search-bar {
    padding-inline: var(--p3);
    background-color: #e7e7e7;
    display: flex;
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lower-btn {
    border-radius: 50px;
    padding: var(--p7) var(--p6);
    font-size: .8rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--p3);
    display: none;
}
.lower-btn button:hover {
    background-color: var(--sec-btn-hover-bg);
    color: var(--secondary-color);
}
.lower-btn button:disabled {
    background-color: #f1f1f1;
    color: #9c9c9c;
}
.lower-btn button:disabled:hover {
    background-color: #f1f1f1;
    color: #9c9c9c;
    cursor: not-allowed;
}
.search-text {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 20px;
    padding: var(--p4) var(--p6);
}
@media (width <= 700px) {
    .search-overlay {
        margin-top: 20px;
    }
    .display-results {
        grid-template-columns: auto;
        gap: 35px;
    }
}
